// $rem: 1rem;
// @function px-to-rem($n) {
//     @return ($n/750)*$rem;
// };
  *{
      margin: 0;
      padding: 0;
  }
  .container-wrap { 
    background-color: #ebebeb; 
    margin: 0;
    padding: 0;
  } 
  .head-wrap{ 
    background-color: #3298ff; 
  } 
  
  .head-wrap{ 
    display: flex; 
    justify-content: flex-start; 
    padding: px-to-rem(64) 0 px-to-rem(64) 0; 
    width: 100%
  } 
  .head-wrap .avatar-wrap{ 
    margin-left: px-to-rem(23); 
    margin-right: px-to-rem(13) 
  } 
  .head-wrap .avatar{ 
    height: px-to-rem(128); 
    width: px-to-rem(128); 
    border-radius: 5px
  
  } 
  .head-wrap .information-wrap{ 
    display: flex; 
    flex-direction: column; 
    justify-content: space-between; 
    padding: 4px 0 4px 0; 
    color: #fff;
    width: 100%;
  } 
  .information-wrap .phone{ 
    display: flex; 
    justify-content: space-between; 
    // width: px-to-rem(586); 
    align-items: center 
  } 
  
  .phone img{
    width: px-to-rem(20);
    height: px-to-rem(20);
    margin-right: px-to-rem(53)
  }
  .name{ 
    // width: 400px; 
    font-size: px-to-rem(41); 
    font-weight: 600; 
    overflow: hidden; 
    white-space: nowrap; 
    text-overflow: ellipsis 
     
  } 
  .phone span{ 
    font-size: px-to-rem(24) 
  } 
  .tab-wrap{ 
    margin-top: px-to-rem(20) 
  } 
  .item{ 
    border-bottom: 1px solid #ebebeb; 
    background-color: #fff; 
    height: px-to-rem(88); 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
  } 
   
  .item:nth-last-of-type(1){ 
    border: none 
  } 
  .item .left{ 
    display: flex; 
    align-items: center 
  } 
  .item .img-left{
    width: px-to-rem(50);
    height: px-to-rem(50);
    margin-left: px-to-rem(23); 
    margin-right: px-to-rem(12);
  }
  .item .img-right{
    width: px-to-rem(36);
    height: px-to-rem(36);
    margin-right: px-to-rem(25) 
  }
  .item .span-wrap{ 
    font-size: px-to-rem(28); 
  } 